<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staticValue1</key>
	<string>11</string>
	<key>staticValue2</key>
	<string>22</string>
	<key>staticVarValue1</key>
	<string>12</string>
	<key>staticVarValue2</key>
	<string>23</string>
	<key>nomVar1</key>
	<string>iV1</string>
	<key>nomVar2</key>
	<string>iV2</string>
	<key>nomVar3</key>
	<string>iV3</string>
	<key>nomFuncVar1</key>
	<string>iF1</string>
	<key>nomFuncVar2</key>
	<string>iF2</string>
	<key>nomFunc</key>
	<string>function</string>
	<key>refVar1</key>
	<false/>
	<key>refVar2</key>
	<false/>
</dict>
</plist>
